.pagination {
  display: flex;
  justify-content: space-between;
  background-color: #f4f7f6;
}

.pagination__button {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 8px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 5px;
  font-size: 20px;
}
