.what1 {
  display: flex;
  overflow: hidden;
  /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
  margin: 10px 50px 50px 50px;
  z-index: 50;
  /* overflow-y: overlay;- */
  flex-direction: column;
  flex: 70%;
  /* background-color: lightblue; */
}

/* .what1::-webkit-scrollbar { */
/* display: none; */
/* } */

.what1__what {
  /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
  margin-bottom: 50px;
  background-color: #f4f8fb;
  padding: 24px;
  border-radius: 5px;
}

.what1__what > h2 {
  color: rgba(9, 23, 42, 0.8);
  font-family: "Proxima Nova", Sans-serif;
  font-size: 3.5rem;
  line-height: 1.2em;
}

.what1__what > p {
  text-align: left;
  color: rgba(9, 23, 42, 0.62);
  font-family: "Open Sans", Sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2em;
  letter-spacing: 0.5px;
}

.what1__types > p {
  text-align: left;
  color: rgba(9, 23, 42, 0.62);
  font-family: "Open Sans", Sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2em;
  letter-spacing: 0.5px;
  padding: 0px 0px 40px 10px;
}

.what1__types > h4 {
  text-align: left;
  color: rgba(9, 23, 42, 0.62);
  font-family: "Open Sans", Sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2em;
  letter-spacing: 0.5px;
  padding: 0px 0px 40px 5px;
}

.what1__types > h2 {
  color: rgba(9, 23, 42, 0.8);
  font-family: "Proxima Nova", Sans-serif;
  font-size: 3.5rem;
  line-height: 1.2em;
  padding-bottom: 30px;
}

.what1__types > h3 {
  color: rgba(9, 23, 42, 0.8);
  font-family: "Proxima Nova", Sans-serif;
  font-size: 2.4rem;
  line-height: 1.2em;
  padding: 0px 0px 15px 10px;
}

/* .what1__types > a { */
/* padding-bottom: 15px; */
/* } */

@media screen and (max-width: 960px) {
  .what1__what {
    /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
    margin-bottom: 30px;
    background-color: #f4f8fb;
    padding: 20px;
    border-radius: 3px;
  }

  .what1 {
    display: flex;
    overflow: hidden;
    /* transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
    margin: 10px 10px 15px 10px;
    z-index: 50;
    /* overflow-y: overlay;- */
    flex-direction: column;
    flex: 70%;
    background-color: #fff;
  }

  * {
    font-size: 50%;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 45%;
  }
}
